.notice-notice {
    //background-color: blue;
    background-color: #dfe4dc;
    //border: 2px solid black;
    border-radius: 1rem;
    margin: 1rem 0 0 0;
    padding: 0rem 1rem;

    .content-comment {
        margin: 0;

        padding: 0 1rem;
    }

    //margin: 1rem;
    .notice-autor {
        height: auto;
        padding-top: .5rem;
        display: flex;
        justify-content: space-between;

        // border: 2px solid red;
        .autor {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
        }

        .avatar {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        img {
            border-radius: 50%;
            padding: 0.5rem;
        }

        .notice-autor-close-icon {
            opacity: 0%;

            &:hover {
                transition: .2s;
                opacity: 100%;
                cursor: pointer;
            }
        }
    }

    .content {
        padding: 1rem 1rem 0.5rem 1rem;
        align-items: center;
        justify-content: start;
        text-align: justify;
    }

    .comment-wrapper {
        .input-comment {
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 1rem;
        }

        span {
            //position: absolute;
            padding-left: .25rem;
            height: 30px;
            display: flex;
            align-items: center;
            //margin-top: 0.5rem;
            color: #2f3e46;

            &:hover {
                color: #354f52;
                cursor: pointer
            }
        }

        input {
            border: 2px solid #cad2c5;
            border-radius: 1rem;
            height: 30px;
            width: 100%;

            &:focus {
                border: 2px solid #2f3e46;
                outline: 0;
            }
        }

        .comment-button {
            padding: 0.5rem 1rem .5rem;

            &:hover {
                color: limegreen;
                cursor: pointer;
            }
        }

        .comment {
            padding: 0.5rem 0.5rem;
            background-color: white;
            border-radius: 0.5rem;
            //margin: 1rem;
            margin-bottom: 1rem;
            //border: 1px solid #2f3e46;

            .comment-autor {
                height: 2em;

                .avatar {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                img {
                    border-radius: 50%;
                    padding: 0.5rem;
                }

                .autor {
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-direction: column;
                }

                .notice-autor-close-icon {
                    opacity: 0%;

                    &:hover {
                        transition: .3s;
                        opacity: 100%;
                        cursor: pointer;
                    }
                }
            }

            .content {
                margin: 0;
                //background-color: red;
                padding: 0.5rem 0 0 0;
            }
        }
    }
}